@charset "utf-8";
/* CSS Document */
h1 {
    padding: 0.5em;/*文字周りの余白*/
    color: #32177e;/*文字色*/
    background: #c3c3e0;/*背景色*/
    border-bottom: solid 3px #1d243a;/*下線*/
  }
  h2 {
    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: rgb(0, 0, 0);
  }
  
  h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
  }
  h3{
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
  }
  
  ul, ol {
    background: #fcfcfc;/*背景色*/
    padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
    border: solid 3px rgb(44, 46, 179);/*線の種類 太さ 色*/
	  
  }
  
.nyancat{
	list-style:"🐈";
}
  ul li, ol li {
    line-height: 1.5; /*文の行高*/
    padding: 0.5em 0; /*前後の文との余白*/
  }
